<template>
  <div class="<%= data.lowerName %>">
    <!-- 表单查询区 -->
    <query-form :form="form" :inline="false" :model.sync="queryForm" @handleQuery="getTableData"/>
    <!-- 列表区域 -->
    <base-table
      v-if="column.length"
      :loading="showLoading"
      :column.sync="column"
      :data="tableData"
      :pagination.sync="pagination"
      @handleChange="getTableData"
      @handleAction="handleAction"
      >
      <template v-slot:action>
        <el-button type="primary" @click="createAdForm" v-if="checkPermissionButton('adsense/form/add')">新增形式</el-button>
      </template>
    </base-table>
    <!-- 新增、编辑 -->
    <el-drawer
      title="广告形式"
      :append-to-body="true"
      :visible.sync="drawerFlag"
      :before-close="closeDrawer"
      direction="rtl"
      custom-class="ad-drawer"
      :with-header="false"
      size="85%">
      <EditAdForm v-if="drawerFlag" :isEdit="isEdit" :id="id" @handleCloseDrawer="closeDrawer"></EditAdForm>
    </el-drawer>
  </div>
</template>

<script>
  export default {
    name: "<%= data.name %>",
    components: {

    },
    mixins: [],
    props: {

    },
    data() {
      return {
        form:[{
          type: 'input',
          placeholder: '请输入广告形式名称或者ID',
          model: 'keyword',
          label: '广告形式名称或者ID',
        },{
          type: 'select',
          model: 'status',
          label: '状态',
          options: [
            { label: '全部', value: 'all' }, 
            { label: '启用', value: 1 }, 
            { label: '禁用', value: 0 }
          ]
        }],
        queryForm: {
          status: '', // 状态 1-启用 2-禁用
          type: '', // 对接方式 server/client
          keyword: '', // 关键词 广告源id/名称
        },
        // 分页对象
        pagination: {
          total_count: 0,
          page_size: 20,
          page: 1,
        },
        tableData: [],
        dialogVisible: false,
        query: {},
        isEdit: false,
        id: '',
        column: [{
          prop: 'id',
          label: '形式ID'
        }, {
          prop: 'name',
          label: '广告形式'
        }, {
          prop: 'rules_txt',
          label: '素材规范',
          formatter: function (row) {
            return row.rules_txt.join(',')
          }
        },{
          prop: 'created_at',
          label: '创建时间'
        }, {
          prop: 'status',
          label: '状态',
          formatter (row, column) {
            if (row.status === 1) {
              return '启用'
            } else {
              return '禁用'
            }
          },
        }, {
          prop: '',
          label: '操作',
          width: '200px',
          type: 'action', // 标记此列为操作按钮
          list: [
            {
              text: '编辑',
              permission: this.checkPermissionButton('adsense/form/edit'),
            },
            {
              text: '删除',
              permission: this.checkPermissionButton('adsense/form/delete'),
            }
          ]
        }]
      }
    },
    created() {
      this.getTableData()
    },
    mounted() {

    },
    computed: {

    },
    methods: {
      // 获取广告源列表
      getTableData (page = 1) {
        this.pagination.page = page
        const params = {
          ...this.queryForm,
          ...this.pagination,
        }
        this.$utils.getRequestList(this, '/adsense/form/index', params).then((res) => {
        this.tableData = res.adsFormList
        })
      },
      // 表格 - action
      handleAction ({ index, row }) {
        const rowData = { ...row }
        if (index === 0) {
          // 编辑
          this.drawerFlag = true
          this.isEdit = true
          this.id = rowData.id
          console.log('编辑...')
        }
        if (index === 1) {
          // 删除
          this.deleteAdForm(rowData)
          console.log('删除...')
        } 
      },
      // 删除广告形式
      async deleteAdForm (row) {
        let result
        try {
          result = await this.$confirm('您确定要删除嘛?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          })
        } catch (error) {
          result = 'cancel'
        }
        if (result === 'confirm') {
          this.$request.get('/adsense/form/delete', { id: row.id }).then(res => {
            this.$message.success('删除成功~')
            this.getTableData()
          })
        }
      },
      // 添加广告形式
      createAdForm () {
        this.isEdit = false
        this.drawerFlag = true
      },
      // 关闭抽屉
      closeDrawer (param) {
        this.id = ''
        this.isEdit = false
        this.drawerFlag = false
        // 若子组件点击的是提交表单操作，则执行请求更新列表，若是取消按钮则不执行
        param.submitFlag && this.getTableData()
      },
    },
  }
</script>

<style scoped>
  .<%= data.lowerName %> {  
  }
</style>
